@import 'materialize';



html, body {
  background: darken(color('grey', 'darken-3'), 5%);
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 1em;
  font-weight: 400;
  // scroll-behavior: smooth;
}

.main {
  // styles for medium screens and larger
  @media #{$large-and-up} {
    margin-left: 185px;
  }
}

.main-footer {
  margin-top: 18%;

  padding: 25px;
  padding-left: 200px;
  @extend .col, .s12, .layout-row, .layout-align-center-center, .grey, .darken-4;
  // background: blue;
  // padding-bottom: 16%;
}

.issue-btn {
  @extend .btn, .flex;

  max-width: 250px !important;
  // text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: color('blue','base');
}

.menu-header {
  @extend .center;
  background: darken(color('grey','darken-4'), 5%);
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ember-power-select-option  {
  @extend .aligner
}

.ember-power-select-trigger  {
  text-align: center;
}

.copy {
  @extend .green, .btn-large; 
  text-align: center;
  line-height: inherit;
  margin-right:5px;
}

.w100 {
  width: 100%;
}

.last {
  @extend .grey-text, .center;
  margin-bottom: 15px;
}



.hljs {
  position: relative;
  width: 98%;
  margin: auto;

}

.clip {
  position: absolute;

  position: absolute;
  top: 3px;
  right: 8px;
}

.clip:hover {
  color: color('blue', 'base');
}

// .hljs-ln-numbers[data-line-number="i"] {
//   opacity: 0.1;
// }

// .hljs-ln-numbers {
//   opacity: 0.1;
//   padding-right: 2px !important;
// }


.entry {
  padding: 0px !important;
  padding-left: 15px !important;
  color: color('blue', 'lighten-2') !important;
}

.entry::before {
  content: "\00B7";
  padding-right: 5px;
}

.example {
  margin-bottom: 55px;
  border-top: solid 1px grey;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(160, 160, 160, 0.5);
}

table.highlight > tbody > tr:hover {
  background-color: rgba(color('blue','lighten-2'), 50%);
}


.sidenav {
  background: color('grey', 'darken-4');
}

.collapsible-header {
  color: white;
  // @extend .aligner;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

#slide-out > ul > li > a {
  color: white;
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  // @extend .aligner;
}

.sidenav {
  width: 185px;
}

.nav-entry {
  a {
    font-size: 15px !important;
    color: white !important;
    padding-left: 16px !important;
    padding-right: 0px !important;

    // Hide Text if too big
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.collapsible-body {
  background: color('grey', 'darken-3') !important;
  padding-left: 10px !important;
}

.menu-header {
  @extend .center;
  background: darken(color('grey','darken-4'), 5%);
}

.sidenav-filter {
  text-align: center;
  color: color('blue', 'lighten-4');
  // color: grey;
}

.sidenav-filter::placeholder {
  font-family: 'Quicksand', sans-serif;
  color: color('grey', 'darken-3');
  font-size: 0.8em;
}

.header {
  text-align: center;
}

.title  {
  @extend .flow-text;
  font-size: 1.6em;
  color: white;
  border-bottom: solid 1px white;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 1px;
}


.markdown > table {
  @extend .striped, .highlight, .centered, .z-depth-2;
  // background: rgba(0, 0, 0, 0.5);

  a {
    color: #64B5F6 !important;
  }
}

.markdown > ul > li {
  list-style-type: disc !important;
  margin-left: 25px;  
}

.table-of-contents {
  margin-top: 50px;
  margin-left: 25px;
}

.table-of-contents a {
  color: color('grey','base');
}

.table-of-contents {
  a {
    &:hover {
      border-left: 1px solid color('blue','lighten-4');
    }
    &.active {
      color: color('blue','lighten-2') !important;
      border-left: 1px solid rgba(color('blue','lighten-4'),0.3);
    }
  }
}

.section-header {
  font-size: 1.2em;
}

strong {
  font-weight: 600;
}

code {
  background: color('grey', 'darken-3');
  padding: 2.5px;
}

.hover-link {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.header:hover, .title:hover {
  .hover-link { opacity: 1; }
}


.striped > .layout-row:nth-child(odd) {
  background-color: rgba(160, 160, 160, 0.5);
}

.striped > .layout-row:nth-child(even) {
  background-color: rgba(42, 42, 42, 0.5);
}



@import 'ember-paper';
@import "ember-power-select";


